
$content-color: #111111; 

//$background-purple: #41033a;
//$background-purple: darkGray;
$background-purple: #1c162e;
$background-green: #27322a;

$container-background-color: #fdfeef;
$footer-content-color: #e8e8e8;
$footer-background-color: $background-green;


$breakpoint-laptops: 1824px;
$breakpoint-tablets-landscape: 1224px;
$breakpoint-tablets-portrait: 1024px;
$breakpoint-smartphones-landscape: 768px;
$breakpoint-tablets-portrait-1: 640px;
$breakpoint-tablets-portrait-2: 321px;