.blog-posts{
    list-style-type: none;
    margin: 0;
    

}
.blog-post {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin:  1rem 0;
    a {
        background: #f3f3f3;
        color: black;
        display: block;
        padding: 1rem;
        text-decoration: none;
        
    }
    a:hover {
        background: #e3e3e3;
    }
    h2 {
        margin-bottom: 0;
    }
    p {
        color: rgb(18, 107, 18);
        font-size: .6rem;
        font-style: italic;
    }
    em {
        font-size: .9rem;
    }
    &-tags {
        align-items: left;
        list-style-type: none;
        display: inline; //< ltr
        margin: 0;
        //white-space: nowrap;        
        
    }
    &-tag {
        float: left;
        height: 0;
        color: rgb(18, 107, 18);
        //float: left;
        //line-height: 0;
        //height:1rem;
        margin-right: 1rem;
        font-size: .6rem;

    }

    &-description {

        //float: inline-start;
        display: block;
        clear: both;
        margin-top: 3rem;
    }
}
