.blog-posts{
    list-style-type: none;
    margin: 0;

}
.blog-post {
    margin:  1rem 0;
    a {
        background: #f3f3f3;
        color: black;
        display: block;
        padding: 1rem;
        text-decoration: none;
        
    }
    a:hover {
        background: #e3e3e3;
    }
    h2 {
        margin-bottom: 0;
    }
    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }
}