$breakpoint-tablet: 1024px;
$breakpoint-smartphones-landscape: 768px;

@keyframes navItemSelect {
    from {font-size: 1.7rem;}
    to {font-size: 1.8rem;}
}

@keyframes navItemSelectMobile {
    from {font-size: 1rem;}
    to {font-size: 1.1rem;}
}

.header {
    padding: 1rem 2rem;
    background-color: #333;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px 0px 0px 50px; /* Much more rounded on the left */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Keeps the shadow */
}

.title {
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    animation-name: titleGrow;
    animation-duration: 0.3s;
}

.subtitle {
    color: #ccc;
    font-size: 1.2rem;
    font-family: 'Verdana', sans-serif;
    margin-top: -0.5rem;
}

.navDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navItem {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 1rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

.navItem:hover {
    color: #f1c40f; /* Professional hover effect */
    animation-name: navItemSelect;
    animation-duration: 0.1s;
}

.activeNavItem {
    color: #f1c40f;
    font-weight: bold;
}

/* Hamburger Menu Icon */
.hamburger {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

/* Open/Close Menu for mobile */
.navOpen {
    display: block;
}

@media (max-width: $breakpoint-tablet) {
    .title {
        font-size: 2rem;
    }

    .nav {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        z-index: 1;
        border-radius: 0 0 10px 10px; /* Rounds bottom corners in mobile */
    }

    .navList {
        flex-direction: column;
        align-items: center;
    }

    .navItem {
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: $breakpoint-smartphones-landscape) {
    .navItem {
        font-size: 1rem;
        animation-name: navItemSelectMobile;
    }
}
