$breakpoint-smartphones-landscape: 768px;

@keyframes titleGrow {
  from {font-size: 4.4rem;}
  to {font-size: 4.45rem;}
}

@keyframes titleGrow2 {
    from {font-size: 2.9rem;}
    to {font-size: 3rem;}
}

@keyframes navItemSelect {
    from {font-size: 1.7rem;}
    to {font-size: 1.8rem;}
  }

@keyframes navItemSelect2 {
    from {font-size: 1rem;}
    to {font-size: 1.15rem;}
}

.header {
    padding: 1rem 0 3rem;
    text-align: center;

}

.title {
    color: black;
    font-size: 4.5rem;
    text-decoration: none;
    text-align: center;
    animation-name: titleGrow;
    animation-duration: 0.5s;
}

.subtitle {
    color: #555666;
    font-size: 1.5rem;
}

.nav {
    display: flexbox;

}

.nav-list {
    display: flex;
    //display: flex; //< ltr
    list-style-type: none;
    margin: 0;

    
    

}

.nav-item {
    float: left;
    color: #555555;
    font-size: 1.7rem;
    margin-right: 2rem;
    text-decoration: none;
    text-align: center;
}

.nav-item:hover {
    color: #111111;
    font-size: 1.9rem;
    animation-name: navItemSelect;
    animation-duration: 0.3s;
}

.active-nav-item {
    color:rgb(35, 10, 105);
    
}



/* iPads (portrait) and Below----------- */
@media only screen and (max-width : 1024px) {
    .title {
        font-size: 3rem;
        animation-name: titleGrow2;
    
    }
    .subtitle {
        font-size: 1.5rem;
    }

    .nav-list {
        justify-content: space-between;
        margin: 0 0 0 0;
        display: inline;
    }
    .nav-item {
        float: left;
        font-size: 1rem;
        text-decoration: none;
        text-align: center;

    }
    .nav-item:hover {
        color: #111111;
        font-size: 1.3rem;
        animation-name: navItemSelect2;

    }
}


