@import '../styles/index.scss';

$nav-background: $background-purple;
$nav-text-color: #fff;
$nav-hover-color: $background-green;
$nav-active-color: $background-green;

.header {
    padding: 1rem 2rem;
    background-color: $nav-background; /* Use the purple from your gradient */
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 150px 0px 0px 150px; /* Matches your container style with a bigger left curve */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.title {
    color: $nav-text-color;
    font-size: 3rem;
    text-decoration: none;
    animation-name: titleGrow;
    animation-duration: 0.3s;
}

.subtitle {
    color: lighten($nav-text-color, 20%);
    font-size: 1.2rem;
    font-family: 'Verdana', sans-serif;
    margin-top: -0.5rem;
}

.navDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navItem {
    color: $nav-text-color;
    font-size: 1.5rem;
    margin: 0 1rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

.navItem:hover {
    color: $nav-hover-color; /* Change to your green gradient color */
    animation-name: navItemSelect;
    animation-duration: 0.1s;
}

.activeNavItem {
    color: $nav-active-color; /* Active state color */
    font-weight: bold;
}

/* Hamburger Menu Icon */
.hamburger {
    display: none;
    font-size: 2rem;
    color: $nav-text-color;
    cursor: pointer;
}

/* Open/Close Menu for mobile */
.navOpen {
    display: block;
}

@media (max-width: $breakpoint-tablet) {
    .title {
        font-size: 2rem;
    }

    .nav {
        display: none;
        flex-direction: column;
        background-color: $nav-background;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        z-index: 1;
        border-radius: 0 0 150px 150px; /* Rounded at the bottom for mobile */
    }

    .navList {
        flex-direction: column;
        align-items: center;
    }

    .navItem {
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: $breakpoint-smartphones-landscape) {
    .navItem {
        font-size: 1rem;
        animation-name: navItemSelectMobile;
    }
}
