.container {
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;

    display: flex;
    flex-direction: column; // Default value was rov
    min-height: 100vh; // viewport height
}

.content {
    flex-grow: 1;
}