.background {
    
    background-color: gray;
    background: linear-gradient(45deg, blue, red);
}
.container {
    margin: 0 auto;
    max-width: 60rem;
    padding: 2rem;
    background-color: #feffef;
    display: flex;
    flex-direction: column; // Default value was rov
    min-height: 100vh; // viewport height
}

.content {
    flex-grow: 1;
}