@import '../styles/index.scss';
.background {
    
    background: linear-gradient(289deg, $background-purple 0%, $background-green 74%);
    width: 100%;
}
.container {
    border-radius: 20px;
    border-top-left-radius: 200px;
    filter: drop-shadow(0px 0px 10px black);
    margin: 0 auto;
    width: 75%;
    //max-width: 72rem;
    padding: 2rem;
    background-color: $container-background-color;
    display: flex;
    flex-direction: column; // Default value was rov
    min-height: 100vh; // viewport height
}

.content {
    flex-grow: 1;
    color: $content-color;
}



@media only screen and (max-width : $breakpoint-laptops) {
    .container {
        width: 78%;

    }
}

@media only screen and (max-width : $breakpoint-tablets-landscape) {
    .container {
        width: 85%;

    }

}

@media only screen and (max-width : $breakpoint-tablets-portrait) {
    .container {
        width: 88%;

    }
}

@media only screen and (max-width : $breakpoint-smartphones-landscape) {
    .container {
        width: 90%;

    }
}

@media only screen and (max-width : $breakpoint-tablets-portrait-1) {
    .container {
        width: 92%;

    }
}

@media only screen and (max-width : $breakpoint-tablets-portrait-2) {
    .container {
        width: 95%;
    }
}
